# Personal note files.
*.txt
!THIRD_PARTY_LICENSES/*.txt

# In-progress documentation files.
*.md
!README.md

# Set-up files.
*.json

# Clang-tidy log files.
*.tidy

# Test scripts and bytecode files I
# use for quick testing.
*.ch
*.bch

# Comparison test and benchmark scripts.
programs/
test/
*.sh

# Extra directories with notes or build files/
# solutions.
extras/
build/
sources/
VS Solution/

# Executable.
*.o
*.a
choice*